<span *ngIf="rating">
<ion-icon *ngFor="let color of colors" [color]="color" name="logo-euro" small></ion-icon>
<ng-container *ngIf="showText" [ngSwitch]="roundedRating">
    -
    <ng-container *ngSwitchCase="1">
        {{'RATINGPRICETEXTS.VALUE1'|translate}}
    </ng-container>
    <ng-container *ngSwitchCase="2">
        {{'RATINGPRICETEXTS.VALUE2'|translate}}
    </ng-container>
    <ng-container *ngSwitchCase="3">
        {{'RATINGPRICETEXTS.VALUE3'|translate}}
    </ng-container>
    <ng-container *ngSwitchCase="4">
        {{'RATINGPRICETEXTS.VALUE4'|translate}}
    </ng-container>
    <ng-container *ngSwitchCase="5">
        {{'RATINGPRICETEXTS.VALUE5'|translate}}
    </ng-container>
</ng-container>
</span>
<span *ngIf="!rating">{{noRatingsText}}</span>
